@model Dyplom_Rozhko_MVC.Models.ConnectAllTables

@{
    Layout = "~/Views/Shared/_LayoutPageOther.cshtml";
}

<body>
    <div style="display: grid; place-items: center; height: auto; ">
        <div style="width: 700px; margin-left: 100px;">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.RegisterViewModel.RealNameUser, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.RegisterViewModel.RealNameUser, new { @class = "form-control", placeholder = "Введіть пошту" })
                        @Html.ValidationMessageFor(model => model.RegisterViewModel.RealNameUser, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RegisterViewModel.NameUser, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.RegisterViewModel.NameUser, new { @class = "form-control", placeholder = "Введіть пошту" })
                        @Html.ValidationMessageFor(model => model.RegisterViewModel.NameUser, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RegisterViewModel.PhoneNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.RegisterViewModel.PhoneNumber, new { @class = "form-control", placeholder = "Введіть пошту" })
                        @Html.ValidationMessageFor(model => model.RegisterViewModel.PhoneNumber, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RegisterViewModel.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.RegisterViewModel.Email, new { @class = "form-control", placeholder = "Введіть пошту" })
                        @Html.ValidationMessageFor(model => model.RegisterViewModel.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RegisterViewModel.Password, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.RegisterViewModel.Password, new { @class = "form-control", placeholder = "Введіть пошту" })
                        @Html.ValidationMessageFor(model => model.RegisterViewModel.Password, "", new { @class = "text-danger" })
                        <p style="padding-top: 10px;">- мінімум 8 символів;<br>- великі і маленькі букви;<br>- мінімум 1 число;<br>- мінімум 1 спеціальний символ.</p>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="display: grid; place-items: center;">
                            <input type="submit" value="Створити акаунт" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
